<html>

   <head>
      <title>WebRTC Video Demo</title>
      <!--<link rel = "stylesheet" href = "node_modules/bootstrap/dist/css/bootstrap.min.css"/>-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

   </head>

   <style>

      body {
         background: #eee;
         padding: 5% 0;
      }

      video {
         background: black;
         border: 1px solid gray;
      }


      Video {
         height: 400px;

      }
   </style>

   <body>


      <div >

         <input type = "text" id = "otherUsernameInput" value="127.0.0.1:5000"/>
         <button id = "connectToOtherUsernameBtn">Add Camera</button>
      </div>
		<div>
        Our id: <span id="ourID"></span>
    </div>
   </div>
   <h3>Camera Panel</h3>
   <div id = "callPage" class = "call-page">

   </div>

   <!--<script src = "client.js"></script>-->
   <script type="text/javascript" src="{{ url_for('static', filename='client.js') }}"></script>
   <script>
   $( "#connectToOtherUsernameBtn" ).click(function() {
     //I think what should happen is to enter the ip address of the camera, then store that ip, then we can use the ip start a new pipeline,
     //after the pipeline will launch a webrtc client when the browser enters the page?
     //we store all of the ip addresses so we can make the "call" by initiating a new webrtc client.

     var camera_addr = $("#otherUsernameInput").val();
     server_addr = 'https://127.0.0.1:5000/get_req_for_cam'
     data = {'camera' : camera_addr, 'wsserver':'wss://127.0.0.1:8765'};//servers address
     $.ajax({
        type: "POST",
        url: server_addr,
        data: JSON.stringify(data, null, '\t'),
        contentType: 'application/json;charset=UTF-8',
        success: null,
      }).done(function(response) {
        if (response['wasCameraAdded'] == 1){
          alert( "Camera Added Successfully" );
          location.reload();//refresh the page to get some cameras!
        }
        else{
          alert(response['reason']);
        }
      }).fail(function (response){
        alert('failure of some sort');
      });
    });

   </script>
   </body>

</html>
